---
import PdfIcon from '@/assets/images/shared/logos/pdf.svg'
import RussianIcon from '@/assets/images/shared/logos/russian.svg'
import TelegramIcon from '@/assets/images/shared/logos/tg.svg'
import HeroMarquee from '@/components/astro/fragments/interactive/HeroMarquee.astro'
import Liquid from '@/components/astro/fragments/interactive/liquid/Liquid.astro'
import LinkButton from '@/components/astro/markdown/LinkButton.astro'
import WelcomeHeader from '@/components/astro/pages/home/WelcomeHeader.astro'
import ProjectList from '@/components/astro/project/ProjectList.astro'
import Base from '@/layouts/Base.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '@/utils/consts'
import { getCollection } from 'astro:content'

const projects = (
  await getCollection('project', filters => filters.slug.startsWith('en/'))
).sort(
  (a, b) =>
    (b.data.dateStart?.valueOf() || 0) - (a.data.dateStart?.valueOf() || 0)
);
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <HeroMarquee />
  <WelcomeHeader class="relative z-10" />
  <p class="text-lg mt-12 sm:mt-6">
    A full-stack developer with over 10 years of experience. Expertise in
    building complex web applications, cryptocurrency wallets, CMS systems, and
    automating business processes. Successfully led development teams,
    implemented CI/CD processes, and designed architectures for high-load
    applications. Strong skills in Vue.js, Node.js, and integrating WebSocket
    and REST API.
  </p>
  <div class="relative z-10 grid grid-cols-2 gap-4 mt-6">
    <LinkButton
      href="/cv/Aleksey Semenov CV (EN).pdf"
      target="_blank"
      image={PdfIcon}
      loading="eager"
      class="sm:col-span-2"
    >
      Download resume
    </LinkButton>
    <LinkButton
      href="/ru"
      image={RussianIcon}
      loading="eager"
      class="sm:col-span-2"
    >
      Russian version
    </LinkButton>
    <LinkButton
      href="https://t.me/maclonaky"
      target="_blank"
      image={TelegramIcon}
      loading="eager"
      class="col-span-2"
    >
      Text me
    </LinkButton>
  </div>
  <div class="projects mt-10">
    <ProjectList projects={projects} />
  </div>
  <div class="mt-10">
    <Liquid>
      <div class="text-lg">
        I know there’s been a lot of text, maybe it’s time for a little break?<br />
        Just be careful when you hit that button! Have a great day! 😄
      </div>
    </Liquid>
  </div>
</Base>
